<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-qiyu" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>QiyuPlugin</name>
    <preference name="QIYU_APP_KEY" default="ba19873656bb36c98c6e81c90923069d"/>

    <js-module name="Qiyu" src="www/QiyuPlugin.js">
        <clobbers target="Qiyu"/>
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Qiyu">
                <param name="ios-package" value="Qiyu"/>
                <param name="onload" value="true" />
            </feature>
            <preference name="QIYU_APP_KEY" value="$QIYU_APP_KEY"/>
        </config-file>

        <header-file src="src/ios/Qiyu.h" />
        <source-file src="src/ios/Qiyu.m" />

        <header-file src="src/ios/QYCommodityInfo.h" />
        <header-file src="src/ios/QYConversationManager.h" />
        <header-file src="src/ios/QYCustomActionConfig.h" />
        <header-file src="src/ios/QYCustomUIConfig.h" />
        <header-file src="src/ios/QYHeaders.h" />
        <header-file src="src/ios/QYMessageInfo.h" />
        <header-file src="src/ios/QYPushMessage.h" />
        <header-file src="src/ios/QYSDK.h" />
        <header-file src="src/ios/QYSessionInfo.h" />
        <header-file src="src/ios/QYSessionViewController.h" />
        <header-file src="src/ios/QYSource.h" />
        <header-file src="src/ios/QYUserInfo.h" />
        <header-file src="src/ios/POP/QYPOPConversationManager.h" />
        <header-file src="src/ios/POP/QYPOPCustomUIConfig.h" />
        <header-file src="src/ios/POP/QYPOPMessageInfo.h" />
        <header-file src="src/ios/POP/QYPOPSDK.h" />
        <header-file src="src/ios/POP/QYPOPSessionInfo.h" />
        <header-file src="src/ios/POP/QYPOPSessionViewController.h" />

        <source-file src="src/ios/lib/libcrypto.a" framework="true" />
        <source-file src="src/ios/lib/libevent.a" framework="true" />
        <source-file src="src/ios/lib/libQYSDK.a" framework="true" />

        <framework src="CoreText.framework" weak="true" />
        <framework src="MobileCoreService.framework" weak="true" />
        <framework src="CoreTelephony.framework" weak="true" />
        <framework src="CoreMedia.framework" weak="true" />
        <framework src="AudioToolbox.framework" weak="true" />
        <framework src="AssetsLibrary.framework" weak="true" />
        <framework src="libstdc++.6.0.9.tbd" weak="true" />
        <framework src="libsqlite3.0.tbd" weak="true" />
        <framework src="libxml2.tbd" weak="true" />

        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>请允许应用访问您的相册</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>请允许应用使用您手机的摄像头</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>请允许应用使用您手机的麦克风</string>
        </config-file>
    </platform>

    <platform name="android">
        <hook type="after_plugin_add" src="script/android_install.js"/>
        <hook type="after_plugin_install" src="script/android_install.js"/>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Qiyu">
                <param name="android-package" value="com.wjzp.cordova.qiyu.QiyuPlugin"/>
                <param name="onload">true</param>
            </feature>
            <preference name="QIYU_APP_KEY" value="$QIYU_APP_KEY"/>

        </config-file>
        <config-file target="AndroidManifest.xml" parent="application">
            <provider
                    android:name="com.qiyukf.nim.uikit.provider.UnicornProvider"
                    android:authorities="${applicationId}.unicorn.fileprovider"
                    tools:replace="android:authorities"
                    android:exported="false"
                    android:grantUriPermissions="true" >
                <meta-data
                        android:name="android.support.FILE_PROVIDER_PATHS"
                        android:resource="@xml/ysf_provider"/>
            </provider>
        </config-file>
        <source-file src="src/android/QiyuPlugin.java" target-dir="src/com/wjzp/cordova/qiyu"/>
        <source-file src="src/android/FrescoImageLoader.java" target-dir="src/com/wjzp/cordova/qiyu"/>
        <source-file src="src/android/QiyuPreferences.java" target-dir="src/com/wjzp/cordova/qiyu"/>

        <framework src="com.qiyukf.unicorn:unicorn:3.10.0"/>
        <framework src="com.facebook.fresco:fresco:0.9.0"/>
    </platform>
</plugin>